body{
    background-color:rgb(53, 53, 56); ;
}


.container{
    background-color: rgb(53, 53, 56);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.gambar{
    width: 50%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 50%;
    display: flex;
    max-width: 100%;
    height: auto;
    object-fit: contain;  
}

.article{
    background-color:rgb(53, 53, 56);
    color: rgb(173, 167, 167);
    padding: 10px;
    width: 50%;
}

button{
    padding: 5px
}

button:hover{
    background-color: tomato;
}

a{
    text-decoration: none;
    color: black ;
    font-weight: bold;
}

.buttonArtikel{
    width: 100%;
    cursor: pointer;
}


